
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470549255'); /* IE9*/
  src: url('iconfont.eot?t=1470549255#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470549255') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470549255') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470549255#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shuaxin:before { content: "\e632"; }
.icon-sousuoliebiao:before { content: "\e649"; }
.icon-fenlei:before { content: "\e60b"; }
.icon-shouye:before { content: "\e61a"; }
.icon-dianpu:before { content: "\f0135"; }
.icon-xingyexinwen:before { content: "\f0008"; }
.icon-huiyuanzhongxin:before { content: "\e642"; }
.icon-wodedingdan03:before { content: "\e61d"; }
.icon-renminbi1:before { content: "\e602"; }
.icon-tejia:before { content: "\e60e"; }
.icon-iconfontdazheka:before { content: "\e782"; }
.icon-jiangxu:before { content: "\e63a"; }
.icon-shengxu:before { content: "\e63b"; }
